dcase_util
docker-pycreds
graphviz
Jinja2
llvmlite
MarkupSafe
matplotlib
munkres
pyan3
pycallgraph2
PyCG
pydot-ng
PySide6
python-magic
sed_eval
shiboken6
strip-hints
torch
torchaudio
torchvision
triton
validators
zstandard
